.comments {
    background: #FFF;
    border-radius: 8px;

    &__list {
        padding: 10px 0;
    }

    &__count {
        font-family: Roboto;
        padding-top: 20px;
        font-weight: 700;
        font-size: 18px;
        display: block;
    }

    &__controls {
        border-bottom: 1px solid #F2F2F2;
        margin-top: 20px;

        &Wrapper {
            justify-content: space-between;
            display: flex;
        }
    }
}

.tabs {
    display: flex;

    &__item {
        padding-bottom: 10px;
        font-family: Roboto;
        margin-right: 24px;
        user-select: none;
        font-weight: 400;
        font-size: 15px;

        &:not(&_active) {
            cursor: pointer;

            &:hover {
                color: #E8A427;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &_active {
            border-bottom: 3px solid #4683D9;
            font-weight: 500;
        }
    }
}
