.post {
    background: #FFF;
    border-radius: 8px;
    padding: 20px;
}

.contentWrapper {
    font-family: Roboto;
    margin-top: 10px;
}

.postTitle {
    line-height: 1.3em;
    font-weight: 500;
    font-size: 22px;
    color: #000;
}

.content {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
}
